*{
    text-align: center;
}
#d{
    height: 100px;
    width: 190px;
    background-color: blue;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 1px solid;
}

#a{
    text-align: center;
    padding: 20px;
   border: 1px solid;
    /* border-radius:10px ; */
    width: 150px;

  /*  margin: 300px 100px 100px 300px ;

  /* background-color: blue;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#b{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    position: absolute;
    top: 40px;
    left: 50px;
}
.c{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.class{
    border-radius: 10px;
    background-color: blue;
    color: rgb(255,255,255);
}
